.navbar  {
	margin-bottom:0;
background:#F0B429;
text-decoration:#fff;
}

.nav  {
	margin-bottom:0;
background:#F0B429;
}
 
 
.jumbotron {
	background:#005883;
	color:#F0B429;
	padding:20px 0px;
}

.jumbotron .titulo-index {
	font-size: 80px;
	text-align: center;
}

.jumbotron .titulo-abajoindex {
	font-size: 20px;
	text-align:center;
}
.dropdown-menu {
	background-color:#F0B429;
}

.nav {
background-color:#F0B429;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #005883;
}

body {

	font-family: helvetica;
}


.post .thumb img {
	width: 100%;

}

.post .thumb object{
	width: 100%;

}

.lectura1 .fotolectura img {
	width: 100%;

}

.textoindex {
	font-size: 30px;
	color:#005883;
}

.barralateral .titulocontador {
	background-color: #F47920;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.barralateral {
	text-align: center;
}

.textoindex {
	text-align: center;
}

.twitter-css .titulotwitter {
	background-color: #F47920;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.autorcss .textoautor {
	background-color: #F47920;
	font-size: 20px;
	color: #fff;
	text-align: center;

}



img.fotografia {
  width: 100px; height: 100px;
}

div.videosgit {
	text-align: center;
}

 .fotoactividad{
	
	display:block;
    }

.autorcss .fotografia img {
	width: 100%;
}

.articuloact1 .fotoactividad img {
	width: 100%;
}

.videosgit .video object {
	width: 100%;
}

.fotito img{
	width: 100%;
}

.fotito .video object{
	width: 100%;
}

.actividadmac .fotoactividad img{
	width: 100%;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #005883;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: ##005883;
}

